* {
  margin: 0;
}
.App {
  text-align: center;
}

.App-container {
  display: flex;
}

.filter-container {
  text-decoration: underline;
}

.search-image {
  width: 10px;
  margin-right: 10px;
}

.left-panel {
  width: 50%;
}

.cities {
  list-style: none;
}

.city-container {
  display: flex;
}

.city-details-container {
  display: flex;
}

.image {
  width: 50px;
}
