* {
  margin: 0;
}
.App {
  text-align: center;
}

.App-container {
  display: flex;
}

.filter-container {
  border-bottom: 1px solid silver;
}

.search-image {
  width: 10px;
  margin-right: 10px;
}

.query-input {
  border: none;
  width: 80%;
  height: 30px;
}

input {
  margin-right: 5px;
}

.left-panel {
  width: 50%;
}

.total-items {
  display: flex;
  margin: 20px;
}

.cities {
  list-style: none;
}

.city-container {
  display: flex;
}

.city-details-container {
  display: flex;
}

.image {
  width: 50px;
}

.selected-list {
  list-style: none;
}
