.App {
  text-align: center;
}

.App-container {
  display: flex;
}

.filter-container {
  text-decoration: underline;
}

.search-image {
  width: 10px;
  margin-right: 10px;
}

.left-panel {
  width: 50%;
}

.image {
  width: 75px;
}
